<!DOCTYPE html>
<html>
  <head>
    <title>Trekker's View</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_pack_tag 'favicon.svg', rel: 'icon', type: 'image/svg+xml' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flash' %>
    <%= yield %>
  </body>
</html>
